*{
  margin: 0;
}
html{
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #111, #070707);
  color: #f5f5f5;
  height: 100vh;
}

/* TÍTULO */
h1 {
  text-align: center;
  padding: 25px;
  background: linear-gradient(90deg, #0a0a0a, #111);
  border-bottom: 1px solid #f5c4008a;
  color: #f5c400;
  letter-spacing: 1px;
  font-size: 26px;
}

/* CONTAINER */
#lista {
  max-width: 650px;
  margin: 40px auto;
  padding: 10px;
}

/* CARD */
#lista .card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(145deg, #161616, #101010);
  border: 1px solid rgba(197,157,95,0.15);
  border-left: 4px solid #f5c4007a;;

  padding: 16px;
  margin-bottom: 15px;
  border-radius: 12px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.5);

  transition: 0.25s ease;
}

/* HOVER CARD */
#lista .card:hover {
  transform: translateY(-4px);
  border: 1px solid #f5c400;
  box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

/* TEXTO */
#lista p {
  margin: 0;
  font-size: 16px;
  color: #eaeaea;
}

/* BOTÃO */
button {
  padding: 9px 14px;
  border: none;
  border-radius: 8px;

  background: linear-gradient(90deg, #c59d5f, #f5c400);
  color: #111;

  font-weight: bold;
  cursor: pointer;

  transition: 0.2s ease;
}

/* HOVER BOTÃO */
button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(197,157,95,0.25);
}

/* CLICK */
button:active {
  transform: scale(0.98);
}